.ball{
  background-color: sandybrown;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-size: 40px;
  font-weight: 600;
  margin:auto;
  box-shadow:gainsboro 2px 2px;
}

.ball p{
  position:relative;
  bottom: 20px;
  color:white;
  text-shadow: grey 2px 2px;
}

.ball:hover{
  transition: ease-in 0.2s;
  transform: scale(1.1);
  cursor: pointer;
}

